/* Reset and base styles  */
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%;
  /* sticky footer */ }

body {
  height: 100%;
  /* sticky footer */
  display: flex;
  /* sticky footer */
  flex-direction: column;
  /* sticky footer */
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000; }

body > * {
  flex-shrink: 0;
  /* sticky footer */ }

input,
textarea,
button {
  font-family: inherit;
  padding: 0; }

label {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

fieldset {
  border: none;
  margin: 0;
  padding: 0; }

legend {
  display: block;
  margin: 0;
  padding: 0;
  border: none; }

/* Utility */
.none {
  display: none !important; }

/* Sticky Footer */
#footer {
  margin-top: auto;
  /* sticky footer */
  /* Just for fun */
  background: #374246;
  padding: 50px 0;
  border-top: 2px solid #009688;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.24);
  padding-top: 30px; }

#header .container {
  width: 100%; }

#header .header__nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #374246;
  border-bottom: 2px solid #009688;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  max-height: 52px;
  font-weight: 700; }
  @media (max-width: 1200px) {
    #header .header__nav {
      max-height: 100px; } }

#header .navbar-nav {
  margin-left: 80px; }

@media (max-width: 1400px) {
  #header .navbar-nav {
    font-size: 14px; } }
@media (max-width: 1200px) {
  #header .navbar-nav {
    font-size: 13px; } }
@media (max-width: 1200px) {
  #header .navbar-nav {
    margin-left: 20px; } }
@media (max-width: 991px) {
  #header .navbar-nav {
    margin-left: 0px; } }
#header .header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
  align-items: center; }

#header .header__content img {
  width: 320px; }
  @media (max-width: 1200px) {
    #header .header__content img {
      width: 260px; } }

#header .header__menu {
  display: flex;
  align-items: center; }

#header .nav-link {
  color: #fff;
  transition: all 0.2s;
  white-space: nowrap; }

#header .nav-link:hover {
  outline: none !important;
  box-shadow: unset !important;
  color: #ed4f2b;
  transition: all 0.2s; }

#header .nav-link:focus {
  outline: none !important;
  box-shadow: unset !important;
  color: #ed4f2b;
  transition: all 0.2s; }

#header .nav-link.dropdown-toggle::after {
  vertical-align: 0.105em; }

#header .navbar-brand {
  padding-top: 70px;
  background: #374246;
  position: relative; }
  @media (max-width: 1200px) {
    #header .navbar-brand {
      padding-top: 0; } }

#header .navbar-brand::before {
  content: "";
  border-bottom: 2px solid #009688;
  background: #374246;
  box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  width: 5000px;
  height: 107px;
  right: 0;
  z-index: -1; }
  @media (max-width: 1200px) {
    #header .navbar-brand::before {
      display: none; } }

#header .navbar-brand::after {
  content: "";
  background: url(../img/logo/helper1.svg);
  position: absolute;
  width: 76px;
  height: 76px;
  bottom: -12px;
  right: -68px; }
  @media (max-width: 1200px) {
    #header .navbar-brand::after {
      display: none; } }

#header .dropdown-menu {
  background: #0a929c; }
  #header .dropdown-menu .dropdown-item {
    color: #fff; }
  #header .dropdown-menu .dropdown-item:hover {
    background: #374246; }

#header .navbar-toggler[aria-expanded="false"] {
  background: url(../img/logo/burger.svg);
  background-repeat: no-repeat;
  background-position: center; }

#header .navbar-toggler[aria-expanded="true"] {
  background: url(../img/logo/cancel.svg);
  background-repeat: no-repeat;
  background-position: center; }

@media (max-width: 991px) {
  #header .navbar-collapse {
    padding: 20px;
    position: absolute;
    top: 76px;
    right: 0;
    width: 100%;
    border: 2px solid #374246;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
    background: #0a929c; } }

#main .slider {
  padding-top: 52px;
  margin-bottom: 40px; }
  @media (max-width: 991px) {
    #main .slider {
      margin-bottom: 60px; } }

.slider .carousel-item {
  position: relative; }

.slider .carousel-item__title {
  position: absolute;
  bottom: 30px;
  left: 20px;
  width: 60%;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  line-height: 135%;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.65); }
  @media (max-width: 991px) {
    .slider .carousel-item__title {
      width: 100%;
      height: 130px;
      position: relative;
      top: 10px;
      left: 0;
      color: black;
      text-shadow: none; } }

#main .slider .carousel-inner img {
  object-fit: cover;
  height: 555px;
  filter: brightness(0.6); }

#main #form {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #37424613; }

#form h2 {
  text-align: center;
  margin-bottom: 60px; }

#form input.form-control:focus {
  border: 1px solid #374246;
  box-shadow: none; }

#form input::placeholder {
  opacity: 0.5; }

#form .form__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700; }

#form .form__content textarea {
  resize: none;
  width: 468px; }

#form .form__content textarea:focus {
  border: 1px solid #374246;
  box-shadow: none; }

#form .form__content .form-floating label {
  opacity: 0.5;
  font-weight: 400; }

#form .form__top {
  display: flex; }

#form .form__top > * + * {
  margin-left: 20px; }

#form .form__content .btn, .buttons .form__content .btn {
  background: #009688;
  outline: #009688;
  border: 1px solid #009688; }

#form .form__content .btn:hover, .buttons .form__content .btn:hover {
  background: #374246;
  outline: #374246;
  border: 1px solid #374246; }

#footer {
  padding-top: 30px;
  padding-bottom: 60px; }

@media (max-width: 767px) {
  #footer .row > * + * {
    margin-top: 35px; } }
#footer .name {
  font-weight: 700;
  margin-bottom: 15px; }

#footer a {
  display: block;
  color: #fff;
  text-decoration: none;
  transition: all 0.2s; }
  #footer a:hover {
    color: #ed4f2b;
    transition: all 0.2s; }

#footer .col__content > * + * {
  margin-top: 10px; }

#footer .col__contacts {
  font-size: 15px;
  font-weight: 700;
  display: flex;
  flex-direction: column; }

#footer .col__coopyright {
  color: #fff; }

.call-form {
  padding-top: 50px;
  padding-bottom: 50px; }
  .call-form h2 {
    font-size: 38px; }

.call-form .container > * + * {
  margin-top: 30px; }

.call-form .form > * + * {
  margin-left: 10px; }

.call-form button {
  width: 245px; }

.call-form .call-form__info {
  font-size: 31px;
  line-height: 198.5%;
  letter-spacing: 0.06em;
  opacity: 0.7; }
  @media (max-width: 1400px) {
    .call-form .call-form__info {
      font-size: 27px; } }
  @media (max-width: 1200px) {
    .call-form .call-form__info {
      font-size: 23px; } }
  @media (max-width: 991px) {
    .call-form .call-form__info {
      text-align: center; } }

.call-form *:focus {
  border-color: #009688;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(57, 158, 119, 0.25); }

#main .buttons {
  padding-bottom: 50px; }

#main .buttons .button {
  display: block;
  width: 100%;
  font-weight: 700; }

#main .buttons .button.btn-height-high {
  min-height: 82px; }
  @media (max-width: 1400px) {
    #main .buttons .button.btn-height-high {
      line-height: unset;
      min-height: 82px; } }
  @media (max-width: 1200px) {
    #main .buttons .button.btn-height-high {
      line-height: 33px; } }
  @media (max-width: 991px) {
    #main .buttons .button.btn-height-high {
      line-height: unset; } }

#main .buttons .button:hover {
  background: #009688;
  color: #fff; }

#main .buttons .button.btn-center {
  background: #009688;
  color: #fff; }

#main .buttons .button.btn-center:hover {
  background: #374246;
  border-color: #374246; }

#main .buttons .modal-dialog {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 650px;
  margin: 1.75rem auto;
  width: 50%;
  text-align: left; }

#main .buttons .modal-dialog label {
  font-weight: 700; }

.modal-dialog *:focus {
  border-color: #009688;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(57, 158, 119, 0.25); }

#main .buttons .modal-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

#main .buttons .modal-dialog .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none; }

#main .title h1 {
  margin-bottom: 2rem;
  opacity: 0.7; }

#main .benefits {
  padding-top: 34px;
  padding-bottom: 34px;
  background: #0a929c41; }
  #main .benefits h2 {
    margin-bottom: 34px; }

#main .benefits .benefits__item {
  background: white;
  padding: 26px 18px;
  text-align: center;
  min-height: 310px; }
  #main .benefits .benefits__item img {
    margin-left: auto;
    margin-right: auto; }
  @media (max-width: 1200px) {
    #main .benefits .benefits__item {
      min-height: 330px; } }
  @media (max-width: 991px) {
    #main .benefits .benefits__item {
      min-height: 260px; } }

#main .benefits .benefits__item .benefits__title {
  margin-top: 20px;
  font-weight: 700;
  font-size: 21px;
  line-height: 114.5%;
  letter-spacing: 0.02em;
  color: #3FA9B1; }

#main .benefits .benefits__item .benefits__desc {
  margin-top: 20px;
  font-size: 17px; }

.how-it-works {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #0a929c41; }
  .how-it-works h3 {
    margin-bottom: 50px; }

.how-it-works .how-it-works__wrapper {
  margin: 20px auto 0;
  max-width: 840px; }
  .how-it-works .how-it-works__wrapper a {
    display: block; }
  @media (max-width: 600px) {
    .how-it-works .how-it-works__wrapper {
      max-width: 320px; } }

.how-it-works .how-it-works__item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 100px;
  padding-top: 12px; }

.how-it-works .how-it-works__item:after {
  content: "1";
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 114.5%;
  letter-spacing: 0.02em;
  color: #009688; }

.how-it-works .how-it-works__item:nth-child(2):after {
  content: "2"; }

.how-it-works .how-it-works__item:nth-child(3):after {
  content: "3"; }

.how-it-works .how-it-works__item > * + * {
  margin-top: 20px; }

.how-it-works .how-it-works__item .item-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 114.5%;
  letter-spacing: 0.02em;
  color: #000000; }

.how-it-works .how-it-works__item .item-desc {
  font-size: 18px; }

#main .news {
  padding-top: 50px;
  padding-bottom: 50px; }

#main .news .container > * + * {
  margin-top: 20px; }

#main .news__wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -15px; }

#main .news .news__item {
  width: calc(33.33% - 30px);
  margin: 10px 15px;
  padding: 18px;
  background: #0a929c5e; }
  @media (max-width: 1200px) {
    #main .news .news__item {
      width: calc(50% - 30px); } }

#main .news .news__item > * + * {
  margin-top: 15px; }

#main .news .news__item .news__title {
  text-align: center; }

#main .news__item .news__footer {
  display: flex;
  justify-content: space-between;
  align-items: center; }

#main .news__item .news__footer p {
  font-size: 13px; }

#main .news__item .news-link {
  display: inline-block;
  text-transform: uppercase;
  text-align: right;
  font-size: 16px;
  line-height: 1;
  text-decoration: none;
  color: #000; }
  #main .news__item .news-link:hover {
    color: #ed4f2b; }

#main .news button {
  display: block;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto; }

#main .text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 19px; }

#main .text__content > * + * {
  margin-top: 20px; }

.button {
  background: #ffffff;
  border: 2px solid #009688;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.3s;
  font-size: 20px;
  line-height: 165.5%;
  text-align: center;
  letter-spacing: 0.06em; }
  .button:focus {
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25); }

.button--solid {
  background: #009688;
  color: #fff; }
  .button--solid:hover {
    background: #374246;
    border-color: #374246;
    color: #fff; }

.modal-title {
  font-weight: 700; }

.title-h1 {
  text-align: center;
  font-size: 44px; }

.title-h2 {
  text-align: center;
  font-size: 35px; }

.title-h3 {
  font-size: 16px;
  line-height: 1.1; }

/*# sourceMappingURL=main.css.map */
