#header {
}

#header .container {
  width: 100%;
}

#header .header__nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #374246;

  border-bottom: 2px solid #009688;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24);
  max-height: 52px;

  font-weight: 700;

  @media (max-width: $tablet-m) {
    max-height: 100px;
  }
}

#header .navbar-nav {
  margin-left: 80px;
}

@media (max-width: $tablet) {
  #header .navbar-nav {
    font-size: 14px;
  }
}

@media (max-width: $tablet-m) {
  #header .navbar-nav {
    font-size: 13px;
  }
}

@media (max-width: $tablet-m) {
  #header .navbar-nav {
    margin-left: 20px;
  }
}

@media (max-width: $tablet-xs) {
  #header .navbar-nav {
    margin-left: 0px;
  }
}

#header .header__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  width: 100%;
  align-items: center;
}

#header .header__content img {
  width: 320px;

  @media (max-width: $tablet-m) {
    width: 260px;
  }
}

#header .header__menu {
  display: flex;
  align-items: center;
}

#header .nav-link {
  color: #fff;
  transition: all 0.2s;
  white-space: nowrap;
}

#header .nav-link:hover {
  outline: none !important;
  box-shadow: unset !important;
  color: #ed4f2b;
  transition: all 0.2s;
}

#header .nav-link:focus {
  outline: none !important;
  box-shadow: unset !important;
  color: #ed4f2b;
  transition: all 0.2s;
}

#header .nav-link.dropdown-toggle::after {
  vertical-align: 0.105em;
}

#header .navbar-brand {
  padding-top: 70px;
  background: #374246;
  position: relative;

  @media (max-width: $tablet-m) {
    padding-top: 0;
  }
}

#header .navbar-brand::before {
  content: "";
  border-bottom: 2px solid #009688;
  background: #374246;
  box-shadow: -2px 3px 2px rgba(0, 0, 0, 0.24);
  position: absolute;
  width: 5000px;
  height: 107px;
  right: 0;
  z-index: -1;

  @media (max-width: $tablet-m) {
    display: none;
  }
}

#header .navbar-brand::after {
  content: "";
  background: url(../img/logo/helper1.svg);
  position: absolute;
  width: 76px;
  height: 76px;
  bottom: -12px;
  right: -68px;

  @media (max-width: $tablet-m) {
    display: none;
  }
}

#header .dropdown-menu {
  background: #0a929c;

  & .dropdown-item {
    color: #fff;
  }

  & .dropdown-item:hover {
    background: #374246;
  }
}

#header .navbar-toggler[aria-expanded="false"] {
  background: url(../img/logo/burger.svg);
  background-repeat: no-repeat;
  background-position: center;
}
#header .navbar-toggler[aria-expanded="true"] {
  background: url(../img/logo/cancel.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#header .navbar-collapse {
  @media (max-width: $tablet-xs) {
    padding: 20px;
    position: absolute;
    top: 76px;
    right: 0;
    width: 100%;

    border: 2px solid #374246;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 5px;

    background: #0a929c;
  }
}
