#main .news {
  padding-top: 50px;
  padding-bottom: 50px;
}

#main .news .container > * + * {
  margin-top: 20px;
}

#main .news__wrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  margin: 0 -15px;
}

#main .news .news__item {
  width: calc(33.33% - 30px);
  margin: 10px 15px;
  padding: 18px;

  background: #0a929c5e;

  @media (max-width: $tablet-m) {
    width: calc(50% - 30px);
  }
}

#main .news .news__item > * + * {
  margin-top: 15px;
}

#main .news .news__item .news__title {
  text-align: center;
}

#main .news__item .news__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main .news__item .news__footer p {
  font-size: 13px;
}

#main .news__item .news-link {
  display: inline-block;

  text-transform: uppercase;
  text-align: right;
  font-size: 16px;

  line-height: 1;

  text-decoration: none;
  color: #000;

  &:hover {
    color: #ed4f2b;
  }
}

#main .news button {
  display: block;
  min-width: 350px;
  margin-left: auto;
  margin-right: auto;
}
